% Example of filter configs
% Copy this file to <filter-config.tex> to activate such a filter
%
\begin{filterBy}
  {level} < 2 
  {or} {type} {<>} {Spell} 
       {and} {type} {<>} {Cantrip} 
       {and} {type} {<>} {Focus} 
  {or} {title} = {title/Breastplate}
\end{filterBy}
